<a href="{{ path('shop_store_PropertyValues_create', {'id_Property': id_Property}) }}">
    Добавить значение аттрибута
</a>
&nbsp;
<a href="{{ path('shop_store_Property') }}">
    Таблица аттрибутов
</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Название Атрибута</th>
        <th>Значение</th>
        <th>Номер</th>
        <th>Редактировать</th>
        <th>Вверх</th>
    </tr>
    </thead>
    <tbody>
  {#  {% for value in Property_values %} #}
    {% set max_i = Property_values|length %}
    {% for i in 0..max_i-1 %}
        <tr>
            <td>{{ Property_values[i].id }}</td>
            <td>{{ Property_values[i].Property.name }}</td>
            <td>{{ Property_values[i].value }}</td>
            <td>{{ Property_values[i].position }}</td>
            <td>
                <a href="{{ path('shop_store_PropertyValues_edit', {'id_value_Property': Property_values[i].id}) }}">
                    edit
                </a>
            </td>
            <td>
                <a href="{{ path('shop_store_PropertyValues_edit', {'id_value_Property': Property_values[i].id}) }}">
                    up
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

