<a href="{{ path('shop_store_attribute_create') }}">
    Добавить аттрибут
</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Редактировать</th>
        <th>Значения атрибута</th>
    </tr>
    </thead>
    <tbody>
    {% for attribute in attributes %}
        <tr>
            <td>{{ attribute.id }}</td>
            <td>{{ attribute.name }}</td>
            <td>
                <a href="{{ path('shop_store_attribute_edit', {'id': attribute.id}) }}">
                    edit
                </a>
            </td>
            <td>
                <a href="{{ path('shop_store_AttributeValues', {'id_attribute': attribute.id}) }}">
                    value
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
