{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
    <a href="{{ path('shop_store_PropertyValues_create', {'id_Property': id_property}) }}">
        Добавить значение аттрибута
    </a>
    &nbsp;
    <a href="{{ path('shop_store_Property') }}">
        Таблица аттрибутов
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название Атрибута</th>
            <th>Значение</th>
            <th>Номер</th>
            <th>Редактировать</th>
            <th>Вверх</th>
            <th>Вниз</th>
        </tr>
        </thead>
        <tbody>
      {#  {% for value in Property_values %} #}
        {% set max_i = Property_values|length %}
        {% if max_i>0 %}
            {% for i in 0..max_i-1 %}
                <tr>
                   <td>{{ Property_values[i].id }}</td>
                   <td>{{ Property_values[i].Property.name }}</td>
                   <td>{{ Property_values[i].value }}</td>
                   <td>{{ Property_values[i].position }}</td>
                   <td>
                        <a href="{{ path('shop_store_PropertyValues_edit', {'id_value_Property': Property_values[i].id}) }}">
                            edit
                        </a>
                   </td>
                    <td>
                        <a href="{{ path('shop_store_PropertyValues_up',{'id': param_url[i][0]}) }}">
                            up
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('shop_store_PropertyValues_down',{'id': param_url[i][0]}) }}">
                            down
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ pager|raw }}
{% endblock admin_content %}
