{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
    <a href="{{ path('shop_store_propertyValues_create', {'id_property': id_property} ) }}">
        Добавить значение свойства
    </a>
    &nbsp;
    <a href="{{ path('shop_store_property',{'page': 1}) }}">
        Таблица свойств
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название Атрибута</th>
            <th>Значение</th>
            <th>Номер</th>
            <th>Редактировать</th>
            <th>Вверх</th>
            <th>Вниз</th>
        </tr>
        </thead>
        <tbody>
      {#  {% for value in property_values %} #}
      {#        <td>{{ property_values[i].property.name }}</td>  #}
        {% set max_i = property_values|length %}
        {% if max_i>0 %}
            {% for i in 0..max_i-1 %}
                <tr>
                   <td>{{ property_values[i].id }}</td>
                   <td>{{ property_values[i].name }}</td>
                   <td>{{ property_values[i].value }}</td>
                   <td>{{ property_values[i].position }}</td>
                   <td>
                        <a href="{{ path('shop_store_propertyValues_edit', {'id_value_property': property_values[i].id,'page': page} ) }}">
                            edit
                        </a>
                   </td>
                    <td>
                        <a href="{{ path('shop_store_propertyValues_up',{'id': param_url[i][0],'page': page}) }}">
                            up
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('shop_store_propertyValues_down',{'id': param_url[i][0],'page': page}) }}">
                            down
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ pager|raw }}
{% endblock admin_content %}
