{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
    <a href="{{ path('shop_store_property_create') }}">
        Добавить свойство
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Редактировать</th>
            <th>Значения свойства</th>
        </tr>
        </thead>
        <tbody>
        {% set max_i = propertys|length %}
        {% if max_i>0 %}
        {% endif %}
        </tbody>
        {% for i in 0..max_i-1 %}
            <tr>
                <td>{{ propertys[i].id }}</td>
                <td>{{ propertys[i].name }}</td>
                <td>
                    <a href="{{ path('shop_store_property_edit', {'id': propertys[i].id}) }}">
                        edit
                    </a>
                </td>
                <td>
                    <a href="{{ path('shop_store_propertyValues', {'id_property': propertys[i].id,'page' : 1 } ) }}">
                        value
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ pager|raw }}
{% endblock admin_content %}

