{% extends 'ShopStoreBundle::layout.html.twig' %}

{% block admin_content %}
 {#   <a href="{{ path('shop_store_Property_create') }}">
        Добавить свойство
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Редактировать</th>
            <th>Значения свойства</th>
        </tr>
        </thead>
        <tbody>
        {% set max_i = Propertys|length %}
        {% if max_i>0 %}
        {% endif %}
        </tbody>
    </table>
#}

{% endblock admin_content %}
      {#   {% for i in 0..max_i-1 %}
            <tr>
                <td>{{ Propertys[i].id }}</td>
                <td>{{ Propertys[i].name }}</td>
                <td>
                    <a href="{{ path('shop_store_Property_edit', {'id': Propertys[i].id}) }}">
                        edit
                    </a>
                </td>
                <td>
                    <a href="{{ path('shop_store_PropertyValues', {'id_property': Propertys[i].id,'page' : 1 } ) }}">
                        value
                    </a>
                </td>
            </tr>
         {% endfor %}
            #}
