{% extends '::base.html.twig' %}

{% set site_url = 'http://' ~ app.request.host ~ app.request.getBaseURL() %}
{% set path_to_css = site_url ~ '/themes/tea/css/' %}
{% set path_to_js = site_url ~ '/themes/tea/js/' %}
{% set path_to_images = site_url ~ '/themes/tea/images/' %}

{% block html_head_title %} Золотой Иван-чай {% endblock html_head_title %}

{% block html_head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock html_head_meta %}

{% block html_head_links %}
    <link rel="icon" type="image/x-icon" href="{{ asset(path_to_images ~ 'favicon.ico') }}" />
    <link href="{{ asset(path_to_css ~ 'template.css') }}" rel="stylesheet">
    <link href="{{ asset(path_to_css ~ 'grey.css') }}" rel="stylesheet">
{% endblock html_head_links %}

{% block html_head_scripts %}
    <script src="{{ asset('assets/jquery/1.10.2/jquery.min.js') }}"></script>
    <script src="{{ asset(path_to_js ~ 'verysimpleslideshow.js') }}"></script>
{% endblock html_head_scripts %}


{% block body %}
<body>
    <div id="allwrap" class="gainlayout" style="width:980px;">
{#  @todo подключить флаш
    <div style="position: absolute;">
        <object style="visibility: visible;" id="main-flash" data="%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_files/main.swf" type="application/x-shockwave-flash" height="250px" width="980px"><param value="transparent" name="wmode"><param value="scale" name="scale"><param value="always" name="allowScriptAccess"><param value="#cb9b22" name="bgcolor"><param value="button=" name="flashvars"></object>
    </div>
#}
        <div id="header" class="gainlayout">
            <div id="logo" class="gainlayout">
                <a href="{{ site_url }}" title=""></a>
                <h3></h3>
                <a href="{{ site_url }}" title="Золотой Иван-Чай" id="block-logo"></a>
            </div>
            <div id="headerright" class="gainlayout">
                <div id="hsocial" class="gainlayout">
                    <div id="search" class="gainlayout">
                        <div class="moduletable">
                            <h3>Корзина</h3>
                            <div id="jshop_module_cart">
                                <table width="100%">
                                    <tbody>
                                    <tr>
                                        <td><span id="jshop_quantity_products">0</span>&nbsp;Товары </td>
                                        <td>-</td>
                                        <td><span id="jshop_summ_product">0.00 RUB</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="right">
                                            <a style="margin-right: 6px;" href="http://zolotoi-chai.ru/produkty/wishlist/">Пожелания</a>
                                            <a href="http://zolotoi-chai.ru/produkty/cart/view.html">В корзину</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>

        <div style="background: #f7f7f7;">
              {% include 'ShopSiteBundle::_top_menu.html.twig' %}
        </div>

        <div id="wrap" class="gainlayout">
            <div id="slideshow-container">
                <img style="opacity: 0;" src="{{ path_to_images ~ '/sampledata/1.jpg' }}" alt="1.jpg" />
                <img style="opacity: 0;" src="{{ path_to_images ~ 'sampledata/2.gif' }}" alt="2.gif" />
                <img style="opacity: 0;" src="{{ path_to_images ~ 'sampledata/3.gif' }}" alt="3.gif">
                <img style="opacity: 1;" src="{{ path_to_images ~ 'sampledata/4.gif' }}" alt="4.gif">
                <img style="opacity: 0;" src="{{ path_to_images ~ 'sampledata/5.gif' }}" alt="5.gif">
                <div style="z-index: -1;" id="slcontrol"> <a id="slnext" href="#"></a><a id="slprev" href="#"></a></div>
            </div>
            <div id="pathway" class="gainlayout">
                <div class="breadcrumbs"> <span class="showHere">Вы здесь: </span><span>Главная</span></div>
                <div class="clr"></div>
            </div>

            <div id="cbody" class="gainlayout">
                {% include 'ShopSiteBundle::_left_sidebar.html.twig' %}
                <div id="content60" style="width:670px;">
                    <div id="content" class="gainlayout">
                        <div id="system-message-container">
                            <div id="system-message"> </div>
                        </div>

                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
                <div class="clr"></div>
             </div>
            <!--end of wrap-->
        </div>

<!--end of allwrap-->
    </div>
    <div id="footerwrap" class="gainlayout" style="width:980px;">
        <div id="footer" class="gainlayout">
        </div>
        <div id="copyright"> © 2013 Золотой Иван-Чай</div>
    </div>
</body>
    {#
      <div id="page" class="container">
           <div class="navbar navbar-inverse navbar-fixed-top">
               <div class="navbar-inner">
                   <div class="container">
                       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </a>
                       <a class="brand" href="{{ path('shop_site_index') }}">Золотой Чай</a>
                       <div class="nav-collapse">

                           {{ knp_menu_render('ShopSiteBundle:SiteMenu:main', {
                               'currentClass': 'active',
                               'clear_matcher': false,
                           }) }}

                           <ul class="nav pull-right">
                               {% if is_granted('ROLE_USER') %}
                                   <li class="divider-vertical"></li>
                                   <li class="dropdown">
                                       <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>
                                           &nbsp;{{ app.user.username }} <b class="caret"></b></a>
                                       <ul class="dropdown-menu">
                                           <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-cog"></i> Мой профиль</a></li>
                                           <li class="divider"></li>
                                           <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Выход</a></li>
                                       </ul>
                                   </li>
                               {% else %}
                                   <li><a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a></li>
                                   <li class="dropdown">
                                       <a id="login-dropdown" class="dropdown-toggle" href="#" data-toggle="dropdown">Войти <strong class="caret"></strong></a>
                                       <div class="dropdown-menu" style="padding: 16px; padding-bottom: 0px;">

                                           {{ render(controller('ShopUserBundle:Security:headerLogin')) }}

                                       </div>
                                   </li>
                               {% endif %}
                           </ul>
                       </div>
                   </div>
               </div>
           </div>

           <div class="row">
               <div class="span12">
                   <div class="breadcrumb">
                       {% if breadcrumbs != '' %}
                           {% set breadcrumbs = '<a href="' ~ path('shop_site_index') ~ '">Главная</a> » ' ~ breadcrumbs %}
                       {% endif %}
                       {% block breadcrumb %}
                           {{ breadcrumbs|raw }}
                       {% endblock breadcrumb %}
                   </div>
               </div>
           </div>

           <div class="row">
               {% block sidebar %}
               {% endblock sidebar %}

               {% block content %}
               {% endblock content %}
           </div>

           <div class="navbar navbar-fixed-bottom navbar">
               <div class="navbar-inner text-center">
                   <span class="navbar-text">SimpleShop &copy; 2013</span>
               </div>
           </div>
       </div>
   #}
{% endblock body %}

{% block body_js %}{% endblock body_js %}
